@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url("../../assets/fonts/static/PlusJakartaSans-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Plus Jakarta Sans Bold';
    src: url("../../assets/fonts/static/PlusJakartaSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: 'Plus Jakarta Sans Semi-Bold';
    src: url("../../assets/fonts/static/PlusJakartaSans-SemiBold.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'Plus Jakarta Sans Light';
    src: url("../../assets/fonts/static/PlusJakartaSans-Light.ttf") format("truetype");
    font-weight: 300;
}