$primary-background-color: #F5F5F5;
$secondary-background-color: #FFFFFF;

$header-figma-background-color: #2E2E2E;

$text-primary-color: #000000;
$text-secondary-color: #1F2B43;
$text-tertiary-color: #E3E3E3;
