.cursor {
  display: inline-block;
  width: 1ch;
  animation: flicker 0.5s infinite;
  height: 100%;
  height: 1em;  
}

@keyframes flicker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
